/* This is necessary to prevent scrolling from being enabled and to fill the web page properly*/
html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}

/* This ensures that the map element fills the entire web page */
.map {
    /* width: 100%;
    height: 100%; */
    display: block;
    box-sizing: border-box;
}

/* CHART STYLES */

.chart {
    position: absolute;
    bottom: 20px;
    left: 20px;

    /* Z-index ensures chart is always above map */
    z-index: 10;

    background-color: rgb(255, 255, 255);
    border: 1px solid #999;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

    /* Overflow allows the y-axis text to be shown properly */
    overflow: visible;
}

/* Chart title/dropdown symbol */
.dropdown {
    position: absolute;
    bottom: 440px;
    left: 40px;
    z-index: 11;

    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;

    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;

    width: 500px;
}

/* I can't decide how I want to stylize the y-axis labels */
/* On the one hand, I think that the line paths are necessary, */
/* but I can't seem to figure out how to properly align them */
/* since they have a very tiny, yet somewhat annoyingly noticeable offset */
/* I can't figure out. For the time being, this is a suitable compromise. */
/* TODO: Figure this out */
.axis path,
.axis line {
    fill: none;
    stroke: #ffffff00;
    shape-rendering: crispEdges;
}

/* Axis text symbols */
.axis text {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    fill: #000000;
}

/* --------------- */

/* MAP STYLES */

/* Symbology for background countries */
.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 1px;
}

/* Province styles */
.provinces {
    opacity: 1;
    fill: #cccccc33;
    stroke: #CCC;
    stroke-width: 1px;
}

/* Graticule symbols */

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}

/* Chloropleth symbols */

.provinces {
    stroke: #000;
    stroke-opacity: 0.7;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

/* --------------- */

.abstract {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid #999;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    width: 695px;
    padding: 3px;
    position: absolute;
    left: 20px;
    top: 20px;
}

option {
    font-weight: normal;
}