/* This is necessary to prevent scrolling from being enabled */
html, body {
    overflow: hidden;
}

/* This ensures that the map element fills the entire web page */
.map {
    width: 100%;
    height: 100%;
    display: block;
}

/* MAP STYLES */

/* Symbology for background countries */
.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 1px;
}