/* This is necessary to prevent scrolling from being enabled */
html, body {
    overflow: hidden;
}

/* This ensures that the map element fills the entire web page */
.map {
    width: 100%;
    height: 100%;
    display: block;

    border: medium solid #999;

}

/* MAP STYLES */

/* Symbology for background countries */
.countries {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 1px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #0055ff;
}